env_file:
  - .env

x-airflow-common:
  &airflow-common
  image: weather-airflow:latest
  env_file:
    - .env
  environment:
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
    AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    # The secret key will be read from .env -> AIRFLOW__WEBSERVER__SECRET_KEY
    # GCP_PROJECT and SENDGRID_API_KEY also come from .env
    GOOGLE_APPLICATION_CREDENTIALS: /opt/airflow/secrets/firebase-credentials.json
  volumes:
    - ./dags:/opt/airflow/dags
    - ./scripts:/opt/airflow/dags/scripts
    - ./firebase-credentials.json:/opt/airflow/secrets/firebase-credentials.json:ro
  depends_on:
    - postgres

services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres_data:/var/lib/postgresql/data

  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "8085:8080"

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler

volumes:
  postgres_data: